@page "/"

<div>
<h1>Welcome to Islington College</h1>

    <img src="https://imgs.search.brave.com/mWI5TYlv7lBVWm9abtwNG4QAaQrAECMr4MPivlleLp0/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9pc2xp/bmd0b24uZWR1Lm5w/L2ltYWdlcy9pbmZy/YXN0cnVjdHVyZS9p/bWctMTQucG5n" alt="Islington College" />

    <p>Islington College Nepal is a leading private college in Kathmandu offering British university–affiliated degrees in IT, Computing, and Business. Partnered with London Metropolitan University, it provides modern facilities, practical project-based learning, and an industry-focused curriculum. Known for its international-standard education, the college is a popular choice for students seeking global exposure while studying in Nepal..</p>

</div> 